<div class="container">
    <h1 class="h2" ng-hide="infracao.id">Cadastro de Infrações</h1>
    <h1 class="h2" ng-show="infracao.id">Edição de Infrações</h1>


    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a ng-href="#/infracao">Infração</a>
            </li>
            <li class="breadcrumb-item active" aria-current="page" ng-hide="infracao.id">Cadastro</li>
            <li class="breadcrumb-item active" aria-current="page" ng-show="infracao.id">Edição</li>
        </ol>
    </nav>

    <form name="infracaoForm" novalidate ng-class="{'was-validated': infracaoForm.$submitted}">

        <div class="form-row">
            <div class="form-group col-md-8">
                <label for="descricao">Descrição</label>
                <input required type="text" class="form-control" name="descricao" id="descricao" ng-class="{'is-invalid': infracaoForm.descricao.$invalid && infracaoForm.descricao.$dirty}"
                    ng-model="infracao.descricao" placeholder="Digite a Descrição">

                <div class="invalid-feedback" ng-messages="infracaoForm.descricao.$error">
                    <span ng-message="required">Obrigatório</span>

                </div>
            </div>
            <div class="form-group col-md-4">
                <label for="natureza">Natureza</label>
                <select required ng-class="{'is-invalid': infracaoForm.natureza.$invalid && infracaoForm.natureza.$dirty}" class="form-control"
                    name="natureza" id="natureza" ng-model="infracao.natureza">
                    <option value="LEVE">Leve</option>
                    <option value="MEDIA">Média</option>
                    <option value="GRAVE">Grave</option>
                    <option value="GRAVISSIMA">Gravíssima</option>
                </select>

                <div class="invalid-feedback" ng-messages="infracaoForm.natureza.$error">
                    <span ng-message="required">Obrigatório</span>
                </div>
            </div>
        </div>

        <div class="form-row">

            <div class="form-group col-md-4">
                <label for="tipoInfrator">Tipo Infrator</label>
                <br/>

                <div class="form-check form-check-inline">
                    <input class="form-check-input" ng-model="infracao.tipoInfrator" type="radio" name="tipoInfrator" id="tipoInfratorC" value="C">
                    <label class="form-check-label" for="tipoInfratorC">
                        Condutor
                    </label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" ng-model="infracao.tipoInfrator" type="radio" name="tipoInfrator" id="tipoInfratorP" value="P">
                    <label class="form-check-label" for="tipoInfratorP">
                        Proprietario
                    </label>
                </div>
            </div>

            <div class="form-group col-md-4">
                <label for="competencia">Competência</label>
                <br/>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" ng-model="infracao.competencia" type="radio" name="competencia" id="competenciaE" value="E">
                    <label class="form-check-label" for="competenciaE">
                        Estadual
                    </label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" ng-model="infracao.competencia" type="radio" name="competencia" id="competenciaM" value="M">
                    <label class="form-check-label" for="competenciaM">
                        Municipal
                    </label>
                </div>
            </div>

            <div class="form-group col-md-4">
                <label class="label col-form-label" for="multiplicador">Multiplicador</label>
                <input type="number" class="form-control" name="multiplicador" id="multiplicador" ng-model="infracao.multiplicador" placeholder="Ex. 10">
            </div>
        </div>


        <div class="text-center">
            <button type="submit" class="btn btn-primary" ng-hide="infracao.id" ng-disabled="infracaoForm.$invalid" ng-click="salvar(infracaoForm,infracao)">
                <i class="fas fa-save"></i> Salvar</button>

            <button type="submit" class="btn btn-primary" ng-disabled="infracaoForm.$invalid" ng-show="infracao.id" ng-click="salvar(infracaoForm,infracao)">
                <i class="far fa-edit"></i>
                Edição</button>

            <a class="btn btn-primary" ng-href="#/infracao"><i class="fas fa-long-arrow-alt-left"></i> Voltar</a>
        </div>



    </form>
</div>