<div>
    <h1 class="h2">Infrações</h1>

    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a ng-href="#/infracao">Infração</a>
            </li>
            <li class="breadcrumb-item active" aria-current="page">Pesquisa</li>
        </ol>
    </nav>

    <form>
        <div class="row">
            <div class="input-group mb-3 col-sm-6">
                <input type="text" class="form-control" placeholder="Filtrar por descrição" aria-label="Recipient's username" aria-describedby="button-addon2">
                <div class="input-group-append">
                    <a ng-href="#/infracao/form" class="btn btn-primary" id="button-addon2">
                        <i class="fas fa-plus"></i>
                        Nova Infração</a>
                </div>
            </div>
        </div>


    </form>


    <div class="row">
        <div class="col-sm-12">
            <table class="table table-striped">
                <thead class="thead-dark">
                    <tr>
                        <th>ID</th>
                        <th>Descrição</th>
                        <th>Natureza</th>
                        <th>Multiplicador</th>
                        <th>Tipo de Infrator</th>
                        <th>Ação</th>
                    </tr>
                    </tr>
                </thead>

                <tbody>
                    <tr ng-class="{'infracao-gravissima': infracao.natureza === 'GRAVISSIMA'}" ng-repeat="infracao in infracoes | filter: {'descricao' : filtro } | orderBy:'multiplicador':true">
                        <td>{{infracao.id}}</td>
                        <td>{{infracao.descricao | uppercase}}</td>
                        <td>
                            {{infracao.natureza}}
                        </td>
                        <td>{{infracao.multiplicador | currency}}</td>
                        <td>{{infracao.tipoInfrator | tipoInfrator }}</td>
                        <td style="text-align: center">
                            <button class="btn btn-danger" ng-click="remover(infracao);">

                                <i class="fa fa-trash"></i>
                            </button>

                            <a class="btn btn-success" ng-href="#/infracao/form/{{infracao.id}}">
                                <i class="fas fa-edit"></i>
                            </a>



                        </td>
                    </tr>
                </tbody>

            </table>
        </div>

    </div>